{
    "semi": true,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "printWidth": 140,
    "useTabs": false,
    "jsxBracketSameLine": true
  }